logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
.firebase/
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
functions/package-lock.json
functions/src/credentials/
*.zip
*.xls#
ArchivioLotto.italia/
*.xls
scraper/.idea/inspectionProfiles/
scraper/.idea/
scraper/
dataUploader/.idea/
*.pyc
node_modules
scraper
.angular

package-lock.json

src/app/configs/credentials.ts

www/

dataUploader/data.json

dataUploader/archivio/storico.txt

*.txt

src/assets/gif/pacman.gif
