<ion-header>
  <ion-toolbar>
    <ion-title>browsing</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-browse-extractions
  [ambata11]="ambata11"
  [ambata12]="ambata12"
  [ambata21]="ambata21"
  [ambata22]="ambata22"
  [weel1]="weel1"
  [weel2]="weel2"
  [dateEstrazioni]="dateEstrazioni"
  [extractionsItems]="extractionsItems"
  ></app-browse-extractions>
</ion-content>
