<ion-header>
  <ion-toolbar>
    <ion-title>browsing</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item slot="start">
      <ion-label>
        {{switchText}}
      </ion-label>
      <ion-toggle value="switchViewValue" (ionChange)="switchView()"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-numero-estratto class="ambata" [numero]="ambata11"></app-numero-estratto>
        <app-numero-estratto class="ambata" [numero]="ambata12"></app-numero-estratto>

        {{weel1}}
      </ion-col>


      <ion-col>
        <app-numero-estratto class="ambata" [numero]="ambata21" [color]="color1"></app-numero-estratto>
        <app-numero-estratto class="ambata" [numero]="ambata22" [color]="color2"></app-numero-estratto>
        {{weel2}}
      </ion-col>
    </ion-row>

  </ion-grid>
  <app-browse-extractions [transformation]="transformation" [ambata11]="ambata11" [ambata12]="ambata12"
    [ambata21]="ambata21" [ambata22]="ambata22" [weel1]="weel1" [weel2]="weel2" [ambate]="ambate"
    [extractionsDate]="extractionsDate" [extractionsItems]="extractionsItems"></app-browse-extractions>
</ion-content>