<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <app-logout-user slot="end"></app-logout-user>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-dynamic-form [questions]="formFields" (interactiveSubmit)="filter($event)" (singleSubmit)="submit($event)">
  </app-dynamic-form>
  <div *ngIf="showSpinner">
    <div class="ring">Loading
      <span></span>
    </div>
  </div>
  <ion-grid class="intervals"
  *ngIf="showGraph"
  >
    <ion-row>


    <app-intervals-d3
    [weel]="weel1" 
    [extractedNumber]="ambata11"
    ></app-intervals-d3>
      <app-intervals-d3
    [weel]="weel1" 
    [extractedNumber]="ambata12"
    ></app-intervals-d3>
    </ion-row>
    <ion-row>
  <p class="info selected" *ngIf="selectedFunction">{{appliedFunction}}</p>
  
  <app-intervals-d3
    [weel]="weel2" 
    [extractedNumber]="ambata21"
    ></app-intervals-d3>



  <app-intervals-d3
  [weel]="weel2" 
  [extractedNumber]="ambata22"
  ></app-intervals-d3>

      
    </ion-row>
    <app-intervals-d3
    [weel]="weel2" 
    [extractedNumber]="ambata11"
    ></app-intervals-d3>
    <app-intervals-d3
    [weel]="weel2" 
    [extractedNumber]="ambata12"
    ></app-intervals-d3>
    <ion-row>
    </ion-row>
    <ion-row>
      <app-intervals-d3
    [weel]="weel1" 
    [extractedNumber]="ambata21"
    ></app-intervals-d3>
      <app-intervals-d3
    [weel]="weel1" 
    [extractedNumber]="ambata22"
    ></app-intervals-d3>

    </ion-row>
  </ion-grid>
  <ion-button *ngIf="canAdd"  (click)="addExtraction()"><ion-icon name ="add-circle"></ion-icon></ion-button>

  

</ion-content>