<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-dynamic-form
 [questions]="formFields"
 (interactiveSubmit)="filter($event)"
 (singleSubmit)="submit($event)"
 [transformation]="selectedFunction"
  ></app-dynamic-form>
  <div  *ngIf="showSpinner">
    <div class="ring">Loading 
      <span></span>
    </div>
</div>
<ion-grid class="extractions">
<ion-row>
<ion-item>
<app-weels-viewer
[estrazioni]="estrazioniItems"
[data]="selectedData"
[transformation]="selectedFunction"
></app-weels-viewer>
</ion-item>
<ion-item>
<app-weels-viewer
[estrazioni]="estrazioniItems"
[data]="selectedData1"
[transformation]="selectedFunction"
></app-weels-viewer>
</ion-item>
<ion-item>
  <app-weels-viewer
[estrazioni]="estrazioniItems"
[data]="selectedData2"
[transformation]="selectedFunction"
></app-weels-viewer>
</ion-item>
</ion-row>
</ion-grid>

</ion-content>
