<app-dynamic-form [questions]="formFields" (interactiveSubmit)="filter($event)" (singleSubmit)="submit($event)"></app-dynamic-form>

<div *ngIf="showSpinner">
  <div class="ring">Loading
    <span></span>
  </div>
</div>
<ion-button 
*ngIf="showMagicNumbers"
(click)="browse()">
<ion-icon name="search"></ion-icon>verifica estrazioni
</ion-button>
<app-suggested-numbers
*ngIf="showMagicNumbers"
[firstNumber]="firstMagic"
[secondNumber]="secondMagic"
[firstVNumber]="firstVertibleMagic"
[secondVNumber]="secondVertibleMagic"
[weel1]="weel1"
[weel2]="weel2"
[message1]="message1"
[message2]="message2"
></app-suggested-numbers>

<ion-grid
*ngIf="showMagicNumbers"
>
  <ion-row>
    <app-intervals-d3
    [weel]="weel1"
    [extractedNumber]="firstMagic"
    ></app-intervals-d3>
    <app-intervals-d3
    [weel]="weel2"
    [extractedNumber]="firstMagic"
    ></app-intervals-d3>
    <ion-col>
      <app-intervals-d3
      [weel]="weel1"
      [extractedNumber]="secondMagic"
      ></app-intervals-d3>
      <app-intervals-d3
      [weel]="weel2"
      [extractedNumber]="secondMagic"
      ></app-intervals-d3>

    </ion-col>
  </ion-row>
  <ion-row>
    <app-intervals-d3
    [weel]="weel1"
    [extractedNumber]="firstVertibleMagic"
    ></app-intervals-d3>
    <app-intervals-d3
    [weel]="weel2"
    [extractedNumber]="firstVertibleMagic"
    ></app-intervals-d3>
  </ion-row>
</ion-grid>