<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
      <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-extraction 
  [extraction]="WeelOne"
  
  [transformation]="function"
  ></app-extraction><app-extraction 
  [extraction]="WeelTwo"
  [transformation]="function"
  ></app-extraction>
  <app-numero-estratto
  [numero]="ambata11"
  ></app-numero-estratto>
  <app-numero-estratto
  [numero]="ambata12"
  ></app-numero-estratto>
  <app-numero-estratto
  [numero]="ambata21"
  ></app-numero-estratto>
  <app-numero-estratto
  [numero]="ambata22"
  ></app-numero-estratto>
</ion-content>
