
  <ion-grid class="extractions">
    <ion-row>
      <ion-item>
      <app-weels-viewer class="browsable"
       [estrazioni]="extractionsItems"
       [transformation]="neutralFunction"
       [data]="selectedData">
      </app-weels-viewer>
    </ion-item>
    <ion-item>
      <app-weels-viewer
      class="browsable"
       [estrazioni]="extractionsItems"
       [transformation]="neutralFunction"
       [data]="selectedData1">
      </app-weels-viewer>
    </ion-item>

    <ion-item>
      <app-weels-viewer
      class="browsable"
      [estrazioni]="extractionsItems"
      [transformation]="neutralFunction"
      [data]="selectedData2">
      </app-weels-viewer>
    </ion-item>
  </ion-row>