<ion-grid class="extractions">
  <ion-row>
    <ion-item>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <app-extraction-frame class="browsable" *ngIf="selectedData" [estrazioni]="extractionsItems" [ambate]="ambate"
        [transformation]="transformation" [data]="selectedData">
      </app-extraction-frame>
    </ion-item>
    <ion-item>
      <app-extraction-frame *ngIf="selectedData1" class="browsable" [ambate]="ambate" [estrazioni]="extractionsItems"
        [transformation]="transformation" [data]="selectedData1">
      </app-extraction-frame>
      <div class="browsing_buttons">

        <ion-button (click)="previous()">
          <ion-icon name="arrow-back">

          </ion-icon>
        </ion-button>
        <ion-button (click)="next()">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-item>
      <app-extraction-frame *ngIf="selectedData2" class="browsable" [estrazioni]="extractionsItems" [ambate]="ambate"
        [transformation]="transformation" [data]="selectedData2">
      </app-extraction-frame>
    </ion-item>
  </ion-row>