<ion-grid class="extractions">
  <ion-row>
    <ion-col>
      <div class="browsing_buttons">

        <ion-button (click)="previous()">
          <ion-icon name="arrow-back">

          </ion-icon>
        </ion-button>
        <ion-button (click)="next()">
          <ion-icon name="arrow-forward">

          </ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    <ion-item>
      <app-extraction-frame class="browsable" *ngIf="selectedData" [estrazioni]="extractionsItems" [ambate]="ambate"
        [transformation]="transformation" [data]="selectedData" [showFigures]="showFigures">
      </app-extraction-frame>
    </ion-item>
    </ion-col>
  </ion-row>