<article *ngIf="extraction" [ngClass]="{'highlighted':highlighted}">

  <ion-grid>

    <ion-row>
      <ion-col >

        <p style="font-family:'Lucida Console', monospace" class="ruota" *ngIf="extraction">{{getTitle()}} </p>
      </ion-col>
      <ion-col>
        <ion-grid>
          <ion-row [ngClass]="{narrow:showFigures}">
            <ion-col>
        <app-numero-estratto [numero]="getNumber(0)" 
        [showFigures]="showFigures"
        [color]="setColor(0)" [function]="transformation">
        </app-numero-estratto></ion-col>
            <ion-col>
        <app-numero-estratto [numero]="getNumber(1)" [color]="setColor(1)" [function]="transformation">
        </app-numero-estratto></ion-col>
            <ion-col>
          <app-numero-estratto [numero]="getNumber(2)" [color]="setColor(2)" [function]="transformation">
          </app-numero-estratto></ion-col>
            <ion-col>
          <app-numero-estratto [numero]="getNumber(3)" [color]="setColor(3)" [function]="transformation">
          </app-numero-estratto></ion-col>
            <ion-col>
          <app-numero-estratto [numero]="getNumber(4)" [color]="setColor(4)" [function]="transformation">
          </app-numero-estratto>
        </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>






     
    </ion-row>
  </ion-grid>



</article>