<app-extraction 
[extraction]="WeelOne"
[function]="function"
[transformation]="function"

[repetitions]="repetition4WeelOne"
></app-extraction><app-extraction 
[extraction]="WeelTwo"
[transformation]="function"
[repetitions]="repetition4WeelTwo"
></app-extraction>
<div *ngIf="showTitle">
<p>{{title}}</p>
</div>

<ion-grid *ngIf="showAmbate" >
<p  class="ambata">ambate Genial</p>
  <ion-row>
    <ion-col>
<app-numero-estratto
class="ambata"
[function]="function"
[numero]="ambata11"
></app-numero-estratto>
</ion-col>
<ion-col>

<app-numero-estratto
class="ambata"
[numero]="ambata21"
></app-numero-estratto>
</ion-col>
</ion-row>
<ion-row>

    <ion-col>
<app-numero-estratto
class="ambata"
[numero]="ambata12"
[color]="color1"
></app-numero-estratto>
</ion-col>
<ion-col>
<app-numero-estratto
class="ambata"
[numero]="ambata22"
[color]="color2"
></app-numero-estratto>
</ion-col>
</ion-row>


</ion-grid>
<ion-button *ngIf="showAmbate"
(click)="browse()">
<ion-icon name="search"></ion-icon>verifica estrazioni
</ion-button>
