<app-extraction 
[extraction]="WeelOne"
[function]="function"
[transformation]="function"
></app-extraction><app-extraction 
[extraction]="WeelTwo"
[transformation]="function"
></app-extraction>
<div *ngIf="show">
<p>{{title}}</p>
<p class="ambata">ambate consigliate</p>

<ion-grid>
  <ion-row>
<app-numero-estratto
class="ambata"
[function]="function"
[numero]="ambata11"
></app-numero-estratto>
<app-numero-estratto
class="ambata"
[numero]="ambata21"
></app-numero-estratto>
</ion-row>
<ion-row>
<app-numero-estratto
class="ambata"
[numero]="ambata12"
[color]="color1"
></app-numero-estratto>
<app-numero-estratto
class="ambata"
[numero]="ambata22"
[color]="color2"
></app-numero-estratto>
</ion-row>

</ion-grid>
</div>