<app-extraction 
[extraction]="WeelOne"
[function]="function"
[transformation]="function"

[repetitions]="repetition4WeelOne"
></app-extraction><app-extraction 
[extraction]="WeelTwo"
[transformation]="function"
[repetitions]="repetition4WeelTwo"
></app-extraction>
<div *ngIf="show">
<p>{{title}}</p>
<p class="ambata">ambate consigliate</p>

<ion-grid *ngIf="showAmbate">
  <ion-row>
<app-numero-estratto
class="ambata"
[function]="function"
[numero]="ambata11"
></app-numero-estratto>
<app-numero-estratto
class="ambata"
[numero]="ambata21"
></app-numero-estratto>
</ion-row>
<ion-row>
<app-numero-estratto
class="ambata"
[numero]="ambata12"
[color]="color1"
></app-numero-estratto>
<app-numero-estratto
class="ambata"
[numero]="ambata22"
[color]="color2"
></app-numero-estratto>
</ion-row>

</ion-grid>
<ion-button 
(click)="browse()">
<ion-icon name="search"></ion-icon>verifica estrazioni
</ion-button>
</div>