
<p class="date">{{data}}</p>
  <app-extraction 
[extraction]="Bari"
*ngClass="{'highlighted':isHighlighted('Bari')}"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Cagliari"
*ngClass="{'highlighted':isHighlighted('Cagliari')}"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Firenze"
*ngClass="{'highlighted':isHighlighted('Firenze')}"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Genova"
></app-extraction>
<app-extraction 
[extraction]="Milano"
*ngClass="{'highlighted':isHighlighted('Milano')}"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Napoli"
></app-extraction>
<app-extraction 
[extraction]="Palermo"
*ngClass="{'highlighted':isHighlighted('Palermo')}"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Roma"
*ngClass="{'highlighted':isHighlighted('Roma')}"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Torino"
*ngClass="{'highlighted':isHighlighted('Torino')}"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Venezia"
*ngClass="{'highlighted':isHighlighted('Venezia')}"
></app-extraction><app-extraction 
[extraction]="Nazionale"
[transformation]="transformation"
*ngClass="{'highlighted':isHighlighted('Nazionale')}"
></app-extraction>
