
<p class="date">{{data}}</p>
  <app-extraction 
[ambate]="ambate"
[extraction]="Bari"
[highlighted]="isHighlighted('Bari')"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Cagliari"
[ambate]="ambate"
[highlighted]="isHighlighted('Cagliari')"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Firenze"
[ambate]="ambate"
[highlighted]="isHighlighted('Firenze')"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Genova"
[ambate]="ambate"
[highlighted]="isHighlighted('Genova')"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Milano"
[ambate]="ambate"
[highlighted]="isHighlighted('Milano')"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Napoli"
[ambate]="ambate"
[highlighted]="isHighlighted('Napoli')"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Palermo"
[ambate]="ambate"
[highlighted]="isHighlighted('Palermo')"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Roma"
[ambate]="ambate"
[highlighted]="isHighlighted('Roma')"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Torino"
[ambate]="ambate"
[highlighted]="isHighlighted('Torino')"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Venezia"
[ambate]="ambate"
[highlighted]="isHighlighted('Venezia')"
></app-extraction><app-extraction 
[extraction]="Nazionale"
[ambate]="ambate"
[transformation]="transformation"
[highlighted]="isHighlighted('Nazionale')"
></app-extraction>
