
<p class="date">{{data}}</p>
  <app-extraction 
[extraction]="Bari"

[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Cagliari"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Firenze"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Genova"
></app-extraction>
<app-extraction 
[extraction]="Milano"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Napoli"
></app-extraction>
<app-extraction 
[extraction]="Palermo"
[transformation]="transformation"
></app-extraction><app-extraction 
[extraction]="Roma"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Torino"
[transformation]="transformation"
></app-extraction>
<app-extraction 
[extraction]="Venezia"
></app-extraction><app-extraction 
[extraction]="Nazionale"
[transformation]="transformation"
></app-extraction>
