<article>
<p style="font-family:'Lucida Console', monospace" class="ruota" *ngIf="extraction">{{getTitle()}} </p>

<p id="estrazione" *ngIf="extraction">
  <app-numero-estratto
   [numero]="getNumber(0)"
   [color]="color"
  ></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(1)"
  ></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(2)"></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(3)"></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(4)"></app-numero-estratto>

</p>
</article>