<article
[ngClass]="{'highlighted':highlighted}" 
*ngIf="extraction"
>
<p style="font-family:'Lucida Console', monospace" class="ruota" *ngIf="extraction">{{getTitle()|sameLengthString:9}} </p>

  <app-numero-estratto
   [numero]="getNumber(0)"
   [color]="setColor(0)"
   [function]="transformation"
  ></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(1)"
  [function]="transformation"
  [color]="setColor(1)"
  ></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(2)"
  [color]="setColor(2)"
  [function]="transformation"></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(3)"
  [color]="setColor(3)"
  [function]="transformation"></app-numero-estratto>
  <app-numero-estratto [numero]="getNumber(4)"
  [color]="setColor(4)"
  [function]="transformation"></app-numero-estratto>

</article>